
.content {
    background-color: #999;
    padding: 10px;
    margin-bottom: 5px;
    border: 5px solid;
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    width: 933px;
}
.list{
    background-color: #999;
    padding: 10px;
    margin-bottom: 5px;
    border: 5px solid;
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    width: 250px;
    float: left;
    
}
.footer{
    background-color: #999;
    padding: 10px;
    margin-bottom: 5px;
    border: 5px solid;
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    width: 570px;

}